{% extends 'public/public_base.html' %}
{% load staticfiles %}
{% block upper_content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.24.0/babel.js"></script>
<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<!-- <script src="https://d3js.org/d3.v5.min.js"></script>  -->


<style>
  .stacked-bar {
    height: 450px;
    width:100%;
    font: 6px sans-serif;
    text: white;
    shape-rendering: crispEdges;
  }
  .kernel{

    height: 450px;
    width:100%;


  }

  .buttons{
    color:blue;
  }



  .simple-bar{
    height: 450px;
    width:100%;
    fill:white;


  }

  text.simple-divergence {
  font-size: 14px;
  fill: #2F4A6D;
}

text.simple-value {
  font-size: 12px;
}

text.simple-title {
  font-size: 22px;
  font-weight: 600;
}

text.simple-label {
  font-size: 14px;
  font-weight: 400;
}


  .simple-rect {
  fill: #7cb5ec;
}


  .axis path,
  .axis line {
    fill: none;
    stroke: red;

  }

  path.domain {
    stroke: none;
  }

  .y .tick line {
    stroke:grey;

  }

  .tick{
    fill:white;
    font-size:xx-small
  }

  .kernelLine{
    color:red;
    stroke:#b71c1c;
    fill:#c95555;
  }

  .hbarrect{
    fill:#7cb5ec;
  }

  .labeltop{
    stroke: white;
    font-size:9px;;
  }

  .d3modal{
    display: none;
    position:fixed;
    z-index:1;
    padding-top:100px;
    left:0
    top:0;
    width:100%;
    height:100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);

  }

  .d3modal-content{
    margin: auto;
    padding:20px;
    border: 1px solid #888;
    width:30%;
    background-color: skyblue;
  }

  .d3close{
    color: black;
    margin-top:-17px;
    float:right;
    font-size: 28px;
    font-weight: bold;
  }



</style>
<body>
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.2';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>





  <div id ="d3modal" class="d3modal">
    <div class="d3modal-content">
      <span class="d3close" onClick="(function(){
        $('#d3modal').hide();

    return false;
})();"> &times;</span>

      <h5> Save Data as :</h5>
      <span><button class="btn" id="d3csv"> CSV/Excel</button> <button id="d3png" class="btn"> Image(.png)</button></span>
    </div>
  </div>
    <header>
        <div class="navigation innerPage">
            <div class="container-fluid">
{% endblock %}
{% block lower_content %}
            </div>
        </div>
    </header>

    <section class="topbg">
        <div class="container">
            <div class="row centered">
                <div class="col hdn">
                    <img class="imgeye" src="{% static 'public/image/eye.png' %}" alt="eye">
                </div>
                <div class="col">
                    <p class="dtitle">
                        Mahila Pratinidhi in Data
                    </p>
                    <div class="countsHolder">
                        <div class="counts">
                            <div class="dcount">
                                {{ total }}
                            </div>
                            <div class="text">
                                <div class="bold">Total Female </div>
                                <div class="lighter"> Representatives</div>
                            </div>

                        </div>
                        <div class="counts">
                            <div class="dcount">
                                {{ direct }}
                            </div>
                            <div class="text">
                                <div class="bold">Directly Elected
                                </div>
                                <div class="lighter"> Representatives</div>
                            </div>

                        </div>
                        <div class="counts">
                            <div class="dcount">
                                {{married}}
                            </div>
                            <div class="text">
                                <div class="bold">Married Female
                                </div>
                                <div class="lighter"> Representatives</div>
                            </div>

                        </div>
                        <div class="counts">
                            <div class="dcount">
                                {{ graduate }}
                            </div>
                            <div class="text">
                                <div class="bold">Graduated Female

                                </div>
                                <div class="lighter"> Representatives</div>
                            </div>

                        </div>
                    </div>
                    <img class="graph" src="{% static 'public/image/graph.png' %}" alt="">
                </div>

            </div>


        </div>

    </section>

    <section class="all">

        <div class="container-fluid">

            <div class="tabHolder row centered">
                    <div id="scroltab" class="container-fluid">
                            <div class="scrolltabs">
                                <div class="vVariables">Visualization Variables</div>
                                <div class="tabheading">
                                    <div class="scrolleft scrollicon">
                                        <i class="fa fa-angle-left"></i>
                                    </div>
                                    <ul class="nav nav-pills widthScrol">
                                      <li class="active">
                                          <a href="#" class="dataVariable" data-toggle="tab" data-value="Education">Education</a>
                                      </li>

                                        <li>
                                            <a href="#" class="dataVariable" data-toggle="tab" data-value="ethnicity" >Ethnicity</a>
                                        </li>

                                        <li>
                                            <a href="#" class="dataVariable" data-toggle="tab" data-value="election_type">Election Type</a>
                                        </li>
                                        <li>
                                            <a href="#" class="dataVariable" data-toggle="tab" data-value="party">Party</a>
                                        </li>
                                        <li>
                                            <a href="#" class="dataVariable" data-toggle="tab" data-value="election_experience">Have you ever stood in an election before? </a>
                                        </li>

                                        <li>
                                            <a href="#" class="dataVariable" data-toggle="tab" data-value="age">Age</a>
                                        </li>
                                        <li>
                                            <a href="#" class="dataVariable" data-toggle="tab" data-value="mother_tongue">Mother Tongue</a>
                                        </li>

                                        <li>
                                            <a href="#" class="dataVariable" data-toggle="tab" data-value="political_commitment">Political Commitment</a>
                                        </li>
                                        <li>
                                            <a href="#" class="dataVariable" data-toggle="tab" data-value="political_engagement">Years in Political Engagement</a>
                                        </li>

                                    </ul>
                                    <div class="scrollright scrollicon">
                                        <i class="fa fa-angle-right"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-content clearfix">
                                <div class="tab-pane active" id="1a">
                                    <h3>Content's background color is the same for the tab</h3>
                                </div>
                                <div class="tab-pane" id="2a">
                                    <h3>We use the class nav-pills instead of nav-tabs which automatically creates a background color
                                        for the tab</h3>
                                </div>
                                <div class="tab-pane" id="3a">
                                    <h3>We applied clearfix to the tab-content to rid of the gap between the tab and the content</h3>
                                </div>
                                <div class="tab-pane" id="4a">
                                    <h3>We use css to change the background color of the content to be equal to the tab</h3>
                                </div>
                            </div>
                        </div>


                <div class="col dtitle1">
                    <div class="gtitle">
                        <p id ="innervariable" class="innerp"> Education</p>
                    </div>
                </div>
                <div class="col dcontent" id="main_content_id">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis nobis hic voluptatibus fugiat animi? Voluptates exercitationem
                    quam culpa nisi inventore laboriosam facere, unde, repudiandae consequuntur odio quas obcaecati nobis
                    animi ducimus nulla necessitatibus rem voluptatum ad expedita ut! Ratione officia consequatur cum ducimus
                    excepturi iste, veritatis, corrupti quas natus nostrum libero saepe neque omnis vero architecto nam delectus,
                    perspiciatis qui rem vitae labore! Officiis, tenetur nihil. Quae odio facere soluta quaerat nostrum velit
                    dicta nulla eius, tempore, quasi possimus quidem nemo. Ratione veniam laudantium illo pariatur placeat
                    veritatis, fuga est illum, minus dignissimos ullam sapiente dolores autem earum reiciendis iste harum
                    consequatur, provident quae vero nihil repellat unde. Earum placeat veritatis rerum excepturi voluptatum,
                    ex blanditiis quo labore quas dolorum, harum laboriosam inventore sunt! Facere hic dolores suscipit quibusdam
                    reiciendis eius maiores ratione cumque dolor. Eveniet sunt illum excepturi sed nam dolore animi laborum
                    quis asperiores commodi autem sint, repudiandae, vel nulla! Minima sunt provident maiores repudiandae
                    accusantium. Maiores, eaque sapiente porro voluptates perferendis tempora nesciunt a ex qui. Dicta alias,
                    incidunt v Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis nobis hic voluptatibus
                    fugiat animi? Voluptates exercitationem quam culpa nisi inventore laboriosam facere, unde, repudiandae
                    consequuntur odio quas obcaecati nobis animi ducimus nulla necessitatibus rem voluptatum ad expedita
                    ut! Ratione officia consequatur cum ducimus excepturi iste, veritatis, corrupti quas natus nostrum libero
                    saepe neque omnis vero architecto nam delectus, perspiciatis qui rem vitae labore! Officiis, tenetur
                    nihil. Quae odio facere soluta quaerat nostrum velit dicta nulla eius, tempore, quasi possimus quidem
                    nemo. Ratione veniam laudantium illo pariatur placeat veritatis, fuga est illum, minus dignissimos ullam
                    sapiente dolores autem earum reiciendis iste harum consequatur, provident quae vero nihil repellat unde.
                    Earum placeat veritatis rerum excepturi voluptatum, ex blanditiis quo labore quas dolorum, harum laboriosam
                    inventore sunt! Facere hic dolores suscipit quibusdam reiciendis eius maiores ratione cumque dolor. Eveniet
                    sunt illum excepturi sed nam dolore animi laborum quis asperiores commodi autem sint, repudiandae, vel
                    nulla! Minima sunt provident maiores repudiandae accusantium. Maiores, eaque sapiente porro voluptates
                    perferendis tempora nesciunt a ex qui. Dicta alias, incidunt v

                </div>


            </div>

        </div>
    </section>

    <section class="dk">
        <div class="container" id="react-container">





        </div>



    </section>

    {% endblock %}

    {% block scripts %}
    <script>

            $(document).ready(function () {


                $(window).resize(function () {
                    scrolltabs();
                });

                scrolltabs();
                function scrolltabs() {
                    var counter = 0;
                    var elementNumber = $(".widthScrol").children().length;


                    var elementWidth = elementNumber * 150;

                    var calcWidth = $(".widthScrol").innerWidth();
                    console.log(calcWidth);
                    var totalSlider = elementWidth - calcWidth;


                    var intotal = totalSlider / 160;
                    var n = Math.ceil(intotal);


                    $(".scrolleft").click(function () {

                        if (counter != (-1 * n - 1)) {
                            $(".widthScrol li ").animate({ left: '-=160' });
                            counter--;
                        }
                    });

                    $(".scrollright").click(function () {
                        console.log(counter);
                        if (counter < 1) {
                            $(".widthScrol li ").animate({ left: '+=160' });
                            counter++;
                        }
                    });


                    $(".filterBtn").click(function () {

                        $(".selectHolder.list").addClass("activated")

                    });

                    $(".closeBtn").click(function () {

                        $(".selectHolder.list").removeClass("activated")

                    });
                }
            });
        </script>
        <script>

        data_content= {{content|safe}};
        console.log("data_content",data_content);

        </script>
        <script type= "text/babel" src="{% static 'public/js/saveSvgAsPng.js' %} "></script>
        <script type= "text/babel" src="{% static 'public/js/bar.js' %} "></script>
        <script type= "text/babel" src="{% static 'public/js/kernel.js' %} "></script>
        <script type= "text/babel" src="{% static 'public/js/hstacked.js' %} "></script>

        <script type= "text/babel" src="{% static 'public/js/stacked.js' %} "></script>
        <script type= "text/babel" src="{% static 'public/js/hbar.js' %} "></script>
        <script type= "text/babel" src="{% static 'public/js/d3_app.js' %} "></script>
        <script type= "text/babel" src ="{% static 'public/js/d3_script.js' %}" ></script>

{% endblock %}
