{% extends 'public/public_base.html' %}
{% load staticfiles %}
{% block upper_content %}

<body>
    <header>
        <div class="navigation innerPage">
            <div class="container-fluid">
{% endblock %}
{% block lower_content %}
            </div>
        </div>
    </header>

    <section class="topbg">
        <div class="container">
            <div class="row centered">
                <div class="col hdn">
                    <img class="imgeye" src="{% static 'public/image/eye.png' %}" alt="eye">
                </div>
                <div class="col">
                    <p class="dtitle">
                        Mahila Pratinidhi in Data
                    </p>
                    <div class="countsHolder">
                        <div class="counts">
                            <div class="dcount">
                                {{ total }}
                            </div>
                            <div class="text">
                                <div class="bold">Total Female</div>
                                <div class="lighter"> Representatives</div>
                            </div>

                        </div>
                        <div class="counts">
                            <div class="dcount">
                                304
                            </div>
                            <div class="text">
                                <div class="bold">Total Female</div>
                                <div class="lighter"> Representatives</div>
                            </div>

                        </div>
                        <div class="counts">
                            <div class="dcount">
                                5
                            </div>
                            <div class="text">
                                <div class="bold">Directly Elected
                                </div>
                                <div class="lighter"> Representatives</div>
                            </div>

                        </div>
                        <div class="counts">
                            <div class="dcount">
                                {{married}}
                            </div>
                            <div class="text">
                                <div class="bold">Married Female
                                </div>
                                <div class="lighter"> Representatives</div>
                            </div>

                        </div>
                        <div class="counts">
                            <div class="dcount">
                                {{ graduate }}
                            </div>
                            <div class="text">
                                <div class="bold">Graduated Female

                                </div>
                                <div class="lighter"> Representatives</div>
                            </div>

                        </div>
                    </div>
                    <img class="graph" src="{% static 'public/image/graph.png' %}" alt="">
                </div>

            </div>


        </div>

    </section>

    <section class="all">

        <div class="container-fluid">

            <div class="tabHolder row centered">
                <div class="col dtitle1">
                    <div class="gtitle">
                        <p class="innerp"> POLITICAL ENGAGEMENT</p>
                    </div>
                </div>
                <div class="col dcontent">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis nobis hic voluptatibus fugiat animi? Voluptates exercitationem
                    quam culpa nisi inventore laboriosam facere, unde, repudiandae consequuntur odio quas obcaecati nobis
                    animi ducimus nulla necessitatibus rem voluptatum ad expedita ut! Ratione officia consequatur cum ducimus
                    excepturi iste, veritatis, corrupti quas natus nostrum libero saepe neque omnis vero architecto nam delectus,
                    perspiciatis qui rem vitae labore! Officiis, tenetur nihil. Quae odio facere soluta quaerat nostrum velit
                    dicta nulla eius, tempore, quasi possimus quidem nemo. Ratione veniam laudantium illo pariatur placeat
                    veritatis, fuga est illum, minus dignissimos ullam sapiente dolores autem earum reiciendis iste harum
                    consequatur, provident quae vero nihil repellat unde. Earum placeat veritatis rerum excepturi voluptatum,
                    ex blanditiis quo labore quas dolorum, harum laboriosam inventore sunt! Facere hic dolores suscipit quibusdam
                    reiciendis eius maiores ratione cumque dolor. Eveniet sunt illum excepturi sed nam dolore animi laborum
                    quis asperiores commodi autem sint, repudiandae, vel nulla! Minima sunt provident maiores repudiandae
                    accusantium. Maiores, eaque sapiente porro voluptates perferendis tempora nesciunt a ex qui. Dicta alias,
                    incidunt v Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis nobis hic voluptatibus
                    fugiat animi? Voluptates exercitationem quam culpa nisi inventore laboriosam facere, unde, repudiandae
                    consequuntur odio quas obcaecati nobis animi ducimus nulla necessitatibus rem voluptatum ad expedita
                    ut! Ratione officia consequatur cum ducimus excepturi iste, veritatis, corrupti quas natus nostrum libero
                    saepe neque omnis vero architecto nam delectus, perspiciatis qui rem vitae labore! Officiis, tenetur
                    nihil. Quae odio facere soluta quaerat nostrum velit dicta nulla eius, tempore, quasi possimus quidem
                    nemo. Ratione veniam laudantium illo pariatur placeat veritatis, fuga est illum, minus dignissimos ullam
                    sapiente dolores autem earum reiciendis iste harum consequatur, provident quae vero nihil repellat unde.
                    Earum placeat veritatis rerum excepturi voluptatum, ex blanditiis quo labore quas dolorum, harum laboriosam
                    inventore sunt! Facere hic dolores suscipit quibusdam reiciendis eius maiores ratione cumque dolor. Eveniet
                    sunt illum excepturi sed nam dolore animi laborum quis asperiores commodi autem sint, repudiandae, vel
                    nulla! Minima sunt provident maiores repudiandae accusantium. Maiores, eaque sapiente porro voluptates
                    perferendis tempora nesciunt a ex qui. Dicta alias, incidunt v

                </div>


            </div>

        </div>
    </section>

    <section class="dk">
        <div class="container">
            <div class="graphItem">
                <div class="row">
                    <div class="col-md-6">
                        <p class="gheader">
                            Age
                        </p>
                        <p class="gtext">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Consequat ac felis donec et odio. Natoque penatibus et magnis dis parturient montes nascetur
                        </p>
                        <div class="icons">
                            <a href="">
                                <i class="fa fa-facebook-f"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-linkedin-in"></i>
                            </a>
                            <a class="l5" href="">
                                <i class="fa fa-download"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-share-alt"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6" graphHolder>
                        <img src="{% static 'public/image/graph1.png' %}" alt="">
                    </div>
                </div>
            </div>

            <div class="graphItem">
                <div class="row">
                    <div class="col-md-6">
                        <p class="gheader">
                            Age Variable across Province Level
                        </p>
                        <p class="gtext">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Consequat ac felis donec et odio. Natoque penatibus et magnis dis parturient montes nascetur
                        </p>
                        <div class="icons">
                            <a href="">
                                <i class="fa fa-facebook-f"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-linkedin-in"></i>
                            </a>
                            <a class="l5" href="">
                                <i class="fa fa-download"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-share-alt"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 graphHolder">
                        <img src="{% static 'public/image/graph2.png' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="graphItem">
                <div class="row">
                    <div class="col-md-6">
                        <p class="gheader">
                            Age Variable across Province vs Federal vs National
                        </p>
                        <p class="gtext">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Consequat ac felis donec et odio. Natoque penatibus et magnis dis parturient montes nascetur
                        </p>
                        <div class="icons">
                            <a href="">
                                <i class="fa fa-facebook-f"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-linkedin-in"></i>
                            </a>
                            <a class="l5" href="">
                                <i class="fa fa-download"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-share-alt"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 graphHolder">
                        <img src="{% static 'public/image/graph4.png' %}" alt="">
                    </div>
                </div>
            </div>

        </div>



    </section>

    {% endblock %}

    {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>

    <script src="{% static 'public/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'public/js/all.js' %}"></script>

    <script>
        $(document).ready(function () {

            $(".filterBtn").click(function () {

                $(".selectHolder.list").addClass("activated")

            });

            $(".closeBtn").click(function () {

                $(".selectHolder.list").removeClass("activated")

            });
        });


    </script>
{% endblock %}