{% extends "public/public_base.html" %}
{% load staticfiles %}
{% block upper_content %}
<body>
    <header>
        <div class="navigation innerPage">
            <div class="container-fluid">
{% endblock %}
{% block lower_content %}
            </div>
        </div>
    </header>

    <section class="profileDetail">
        <div class="container-profile container">
            <div class="profileHolder">


                <div class="profileImg">
                    {% if form.image %}
                    <img src="{{MEDIA_URL}} {{form.image.url}}" alt="profileImage">
                    {% else %}
                    <img src="{% static 'public/image/mahilalogo.png' %}" style="width: 500px;height: 500px;" alt="profileImage">
                    {% endif %}
                </div>
                <div class="personalDetail">

                    
                        <div class="detail">
                            <div class="detailTitles">
                                <p class="pheader">
                                    <span class="Ptitle"> {{ form.name|title }}</span>
                                    <span class="flag">
                                        <img src="{% static 'public/image/partyflag.png' %}" alt="">
                                    </span>
                                </p>
                                <p class="personalInfoHeader">
                                    PERSONAL INFORMATION
                                </p>
                            </div>
                            <div class="infocontainer">
                                <div class="info">
                                    <div>
                                        {% if form.age %}
                                        <span class="dtitle">Age:</span>
                                        <span class="dvalue">{{form.age}} Years</span>
                                        {% endif %}
                                    </div>
                                    <div>
                                        {% if form.mothers_name %}
                                        <span class="dtitle">Mother’s Name:</span>
                                        <span class="dvalue">{{ form.mothers_name }}</span>
                                        {% endif %}
                                    </div>
                                    <div>
                                        {% if form.fathers_name %}
                                        <span class="dtitle">Father’s Name:</span>
                                        <span class="dvalue">Man Bahadur Lama </span>
                                        {% endif %}
                                    </div>
                                    <div>
                                        {% if form.marital_status %}
                                        <span class="dtitle">Maritual Status:</span>
                                        <span class="dvalue">{{form.marital_status}}</span>
                                        {% endif %}
                                    </div>
                                    <div>
                                        {% if form.husbands_name %}
                                        <span class="dtitle">Husband Name:</span>
                                        <span class="dvalue">Lakpa Chiring Lama</span>
                                        {% endif %}
                                    </div>
                                    <div>
                                        {% if form.educational_qualification %}
                                        <span class="dtitle">Education:</span>
                                        <span class="dvalue">{{form.educational_qualification|title}} </span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="shareholder">
                                    <div class="shareholderInner">
                                        <div class="shareInfo">
                                            <i class="fa fa-phone ihs">
    
                                            </i>
                                            <span class="contactIfo">
                                                Call Request
                                            </span>
                                        </div>
                                        <div class="shareInfo">
                                            <i class="fa fa-envelope ihs">
    
                                            </i>
                                            <span class="contactIfo">
                                                Write Email
                                            </span>
                                        </div>
                                        <div class="shareInfo">
                                            <span class="ihs">
                                                <i class="fa fa-facebook mr5 ">
    
                                                </i>
                                                <i class="fa  fa-twitter ">
    
                                                </i>
                                            </span>
    
                                            <span class="contactIfo">
                                                Find on Social Media
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
    
                        </div>
                        <div class="personalDetilFooter">
                            <div class="permanentAddress flex">
                                <div class="placelbl flex aligncenter">
                                    <div>
                                        <i class="fa fa-map-marker">
    
                                        </i>
                                    </div>
                                    <div class="locationDetail bold">
                                        Permanent Address:
                                    </div>
                                </div>
                                <div class="placeaddress">
                                    Kaski District,
                                    <br/> Pokhara Ma. Na. Pa., Ward no. 11
                                </div>
                            </div>
                            <div class="currentAddress flex">
                                <div class="locationDetail bold">
                                    Current Address:
                                </div>
                                <div class="placeaddress">
                                    Kaski District,
                                    <br/> Pokhara Ma. Na. Pa., Ward no. 11
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
        </div>


    </section>
    <section class="userImageHolder">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="infographic">
                        <img src="{% static 'public/image/detailimg1.png' %}" alt="">
                    </div>
                </div>
                <div class="col-md-3 flex aligncenter column">
                    <div class="workSHolder">
                        <div class="detailTitle">
                            Election Type
                        </div>
                        <div class="detailContent bold">
                            Directly Elected
                        </div>

                    </div>
                    <div class="workSHolder">
                        <div class="detailTitle">
                            Vote Received
                        </div>
                        <div class="detailContent bold">
                            35,000
                        </div>

                    </div>
                    <div class="workSHolder">
                        <div class="detailTitle">
                            Elected Post
                        </div>
                        <div class="detailContent bold">
                            Member of Parliament: Provincial Assembly

                        </div>
                    </div>
                    <div class="workSHolder">
                        <div class="detailTitle">
                            Election Constituency
                        </div>
                        <div class="detailContent bold">
                            Dhankuta
                        </div>

                    </div>
                    <div class="workSHolder">
                        <div class="detailTitle">
                            Involvement in Party
                        </div>
                        <div class="detailContent bold">
                            2048 B.S.
                        </div>

                    </div>

                </div>
            </div>
            <div class="row ptbi">
                <div class="col-md-3 aligncenter justify-content-center titl">Political
                    <br/>Commitments
                </div>
                <div class="col-md-3">
                    <div class="we relative">
                        <div class="overLink"></div>
                        <div class="weInner">
                            Women
                            <br/> Empowerment
                        </div>

                    </div>

                </div>
                <div class="col-md-3">
                    <div class="si relative">
                        <div class="overLink"></div>
                        <div class="weInner">
                            Social
                            <br/>Inclusion
                        </div>

                    </div>

                </div>


                <div class="col-md-3">
                    <div class="id relative">
                        <div class="overLink"></div>
                        <div class="weInner">
                            Infrastructural
                            <br/> Development
                        </div>

                    </div>

                </div>
            </div>
            {% if form.samlagna_sang_sastha_samuha %}
            <div class="listofWorks text-center">
                <p class="loft white bold">
                    RECENT UNION, ORGANISATION, GROUP ASSOCIATION
                </p>
                <div class="litem ">
                    <span class="square"></span>
                    <span class="text">{{ form.samlagna_sang_sastha_samuha }}</span>
                </div>
            </div>
            {% endif %}


        </div>

    </section>

    <section class="listDet">
        <div class="container">
            <p class="lispTitle white">
                RELATED NEWS
            </p>
            <div class="row lists ">
                {% for news in news %}
                <div class="col-xl-3 col-lg-4 col-md-6 reveal" data-sr-id="12" style="visibility: visible; opacity: 1; transition: opacity 0.4s cubic-bezier(0.5, 0, 0, 1) 0.05s;">
                    <div class="pImageholder prelative">
                        <img src="{% static 'public/image/p1.jpg' %}" alt="user">
                        <div class="holderOverlay"></div>
                        <div class="content">
                            <div class="tags"> {{ form.name }} in News</div>
                            <div class="pTitle">{{ news.title }}</div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>


    </section>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function () {

            $(".filterBtn").click(function () {

                $(".selectHolder.list").addClass("activated")

            });

            $(".closeBtn").click(function () {

                $(".selectHolder.list").removeClass("activated")

            });
        });


    </script>
    {% endblock %}