{% extends 'public/public_base.html' %}
{% load staticfiles %}
{% block upper_content %}
<body>
    <header>
        <div class="navigation innerPage">
            <div class="container-fluid">
{% endblock %}
{% block lower_content %}
            </div>
        </div>
    </header>

    <section class="darkBg">

        <div class="container">
            <div class="selectHolder">
                <div class="leader searchP">
                    <div class="leaderWrp ">
                        <input type="text" placeholder="CHECK YOUR LEADER AROUND" class="leaderSearch">
                    </div>
                </div>
            </div>
            <p class="searchText ste"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam a tenetur itaque, nobis ut fuga qui iusto
                facilis expedita in quos aut dolor magni ratione rerum libero ex assumenda minima neque eius. Quas incidunt
                sunt atque impedit nostrum ullam eveniet similique. Labore reprehenderit necessitatibus quos laborum dolor
                in quae consequatur. </p>
            <div class="clearfix"></div>

            <div id="exTab3" class="container">
                <ul class="nav nav-pills row">
                    <li class=" col-md-3">
                        <a href="#1b" data-toggle="tab" class="active" id="national">
                            <div class="limgHolder">
                                <img src="{% static 'public/image/city-hall1.svg' %}" alt="">


                            </div>
                            <div class="text-center tabtext">
                                NATIONAL
                                <br/> ASSEMBLY
                            </div>

                        </a>
                    </li>
                    <li class="active col-md-3">
                        <a href="#2b" data-toggle="tab" id="federal">
                            <div class="limgHolder">
                                <img src="{% static 'public/image/elementary-school1.svg' %}" alt="">


                            </div>
                            <div class="text-center tabtext">
                                FEDERAL
                                <br/> PARLIAMENT
                            </div>

                        </a>
                    </li>
                    <li class="active col-md-3">
                        <a href="#3b" data-toggle="tab" id="provincial">
                            <div class="limgHolder">
                                <img src="{% static 'public/image/parliament1.svg' %}" alt="">


                            </div>
                            <div class="text-center tabtext">

                                PROVINCIAL
                                <br/> ASSEMBLY
                            </div>

                        </a>
                    </li>
                    <li class="active col-md-3">
                        <a href="#4b" data-toggle="tab" id="local">
                            <div class="limgHolder">
                                <img src="{% static 'public/image/government1.svg' %}" alt="">


                            </div>
                            <div class="text-center tabtext">
                                LOCAL LEVEL
                                <br/> GOVERNMENT
                            </div>

                        </a>
                    </li>

                </ul>

                <div class="tab-content clearfix">
                        <div class="tab-pane active" id="1b">
                                <div class="pfofileItems">
                                        {% for item in rastriyas %}
                                        <div class="pItem reveal">
                                        <a href="{% url 'public:national_detail' item.pk %}">
                                                <div class="inner">

                                                    <div class="pimageHolder">
                                                        {% if item.image %}
                                                        <img src="{{ MEDIA_URL }} {{ item.image.url }}" alt="">
                                                        {% else %}
                                                        <img src="{% static 'public/image/mahilalogo.png' %}" alt="" >
                                                        {% endif %}
                                                        <div class="img"></div>
                    
                                                        <div class="poverlay">
                    
                                                        </div>
                                                        <div class="aroup"></div>
                                                    </div>
                                                    <div class="detailHolder">
                                                        <div class="deteilbg"></div>
                                                        <div class="date">
                                                            <div class="yrcnt">
                                                                {{ item.age }}
                                                            </div>
                                                            <div class="dtl">
                                                                Years
                                                            </div>
                    
                    
                                                        </div>
                                                        <div class="dname">{{ item.name|upper }}</div>
                                                        <div class="dlocation">{{ item.permanent_address|title }}</div>
                                                        <div class="bottom">
                                                            <i class="fa fa-arrow-right arow"></i>
                                                        </div>
                                                    </div>
                        
                                                </div>
                                        </a>
                                        </div>
                                        {% endfor %}
                                </div>
                        </div>
                        <div class="tab-pane" id="2b">
                                <div class="pfofileItems">
                                        {% for item in pratinidhis %}
                                        <div class="pItem reveal">
                                        <a href="{% url 'public:pratinidhi_detail' item.pk %}">
                                                <div class="inner">

                                                    <div class="pimageHolder">
                                                        {% if item.image %}
                                                        <img src="{{ MEDIA_URL }} {{ item.image.url }}" alt="">
                                                        {% else %}
                                                        <img src="{% static 'public/image/mahilalogo.png' %}" alt="" >
                                                        {% endif %}
                                                        <div class="img"></div>
                    
                                                        <div class="poverlay">
                    
                                                        </div>
                                                        <div class="aroup"></div>
                                                    </div>
                                                    <div class="detailHolder">
                                                        <div class="deteilbg"></div>
                                                        <div class="date">
                                                            <div class="yrcnt">
                                                                {{ item.age }}
                                                            </div>
                                                            <div class="dtl">
                                                                Years
                                                            </div>
                    
                    
                                                        </div>
                                                        <div class="dname">{{ item.name|upper }}</div>
                                                        <div class="dlocation">{{ item.permanent_address|title }}</div>
                                                        <div class="bottom">
                                                            <i class="fa fa-arrow-right arow"></i>
                                                        </div>
                                                    </div>
                        
                                                </div>
                                        </a>
                                        </div>
                                        {% endfor %}
                                </div>
                    </div>
                    <div class="tab-pane" id="3b">
                            <div class="linkItem row">
                                
                                {% for province in provinces %}
                                <a href="{% url 'public:explore_province' province.pk %}">
                                <div class="item1 col" style="background:url(/static/public/image/maskimg.jpg) no-repeat;">
                                    <p class="provienceHeading">
                                        {{ province.name }}
                                    </p>
                                </div>
                            
                            </a>
    
                                {% endfor %}
                          </div>
                        </div>
                    <div class="tab-pane" id="4b">
                        <div class="linkItem row">
                            
                            {% for district in districts %}
                            <a href="{% url 'public:explore_district' district.pk %}">
                            <div class="item1 col" style="background:url(/static/public/image/maskimg.jpg) no-repeat;">
                                <p class="provienceHeading">
                                    {{ district.name|upper }}
                                </p>
                            </div>
                        
                        </a>

                            {% endfor %}
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}

    {% block scripts %}

    <script>
        $(document).ready(function () {
            $("#button").click(function () {
                $('html, body').animate({
                    scrollTop: $("#myDiv").offset().top
                }, 2000);
            });
        });
        var clicked = "{{ clicked }}";
        if(clicked == "national" || clicked == "general"){
            $("#nation").click();
            $("#nation").addClass("active");
        }
        else if(clicked == 'federal'){
            var elems = document.querySelectorAll(".active");
            [].forEach.call(elems, function(el) {
                el.classList.remove("active");
            });
            $("#federal").click();
            $("#federal").addClass("active");
        }
        else if(clicked == "provincial"){
            var elems = document.querySelectorAll(".active");
            [].forEach.call(elems, function(el) {
                el.classList.remove("active");
            });
            $("#provincial").click();
            $("#provincial").addClass("active");
            
        }
        else if(clicked == "local"){
            var elems = document.querySelectorAll(".active");
            [].forEach.call(elems, function(el) {
                el.classList.remove("active");
            });
            $("#local").click();
            $("#local").addClass("active");   
        }
    </script>
    {% endblock %}