{% extends "public/public_base.html" %}
{% load staticfiles %}
{% block upper_content %}
{% load filters %}

<body>
    <header>
        <div class="navigation innerPage">
            <div class="container-fluid">
                {% endblock %}
                {% block lower_content %}
            </div>
        </div>
    </header>

    <section class="profileDetail">
        <div class="container-profile container">
            <div class="profileHolder">





                <div class="personalDetail">
                    <div class="topsection detailTitles">

                        <div class="nameimg">
                   <div class="profiledImg  dd">
                    {% if form.image %}
                    <img src="{{MEDIA_URL}} {{form.image.url}}" alt="profileImage">
                    {% else %}
                    <img src="{% static 'public/image/mahilalogo.png' %}" alt="profileImage">
                    {% endif %}




                    </div>
                    <p class="pheader">
                            <span class="Ptitle"> {% if form.english_name %}
                                {{ form.english_name|title }}
                                {% else %}
                                {{ form.name|title }}
                                {% endif %}
                            </span>
                            <span class="flag">
                                <img src="{% static 'public/image/'|add:form.party_name|space_to_underscore|add:'.png' %}"
                                alt="">
                            </span>
                        </p>
                    </div>

                    <div class="detailTitles det">
                  <div class="workSHolder">
                    <div class="detailTitle">
                        Position
                    </div>
                    <div class="detailContent bold">
                        {{ form.nirwachit_padh }}
                    </div>

                </div>
                 <div class="workSHolder">
                    <div class="detailTitle">
                       {{ form.nirwachit_vdc_or_municipality_name }}
                    </div>
                    <div class="detailContent bold">
                        ward {{ form.ward|slice:":1" }}
                    </div>

                </div>
                 <div class="workSHolder">
                    <div class="detailTitle">
                        Vote
                    </div>
                    <div class="detailContent bold">
                       {{ form.prapta_maat_sankhya }}
                    </div>

                </div>
            </div>
            </div>


                <div class="detail-local">
                    <div class="detailTitles">
                        
                        <p class="personalInfoHeader tt">
                            PERSONAL INFORMATION
                        </p>
                    </div>
                    <div class="infocontainer">
                        <div class="info">
                            <div>
                                {% if form.age %}

                                <span class="dtitle">Age:</span>
                                <span class="dvalue">{{ form.age|slice:":2" }} Years</span>
                                {% endif %}
                            </div>
                            <div>
                                {% if form.mothers_name %}
                                <span class="dtitle">Mother’s Name:</span>
                                <span class="dvalue">{{ form.mothers_name }}</span>
                                {% endif %}
                            </div>
                            <div>
                                {% if form.fathers_name %}
                                <span class="dtitle">Father’s Name:</span>
                                <span class="dvalue">{{ form.fathers_name|title }} </span>
                                {% endif %}
                            </div>
                            <div>
                                {% if form.marital_status %}
                                <span class="dtitle">Maritual Status:</span>
                                <span class="dvalue">{{form.marital_status|title}}</span>
                                {% endif %}
                            </div>
                            <div>
                                {% if form.husbands_name %}
                                <span class="dtitle">Husband Name:</span>
                                <span class="dvalue">{{ form.husbands_name|title }}</span>
                                {% endif %}
                            </div>
                            <div>
                                {% if form.nationality %}
                                <span class="dtitle">Nationality:</span>
                                <span class="dvalue">{{form.nationality|title}}</span>
                                {% endif %}
                            </div>
                            <div>
                                {% if form.caste %}
                                <span class="dtitle">Caste:</span>
                                <span class="dvalue">{{ form.caste|title }}</span>
                                {% endif %}
                            </div>
                            <div>
                                {% if form.educational_qualification %}
                                <span class="dtitle">Education:</span>
                                <span class="dvalue">{{form.educational_qualification|title}} </span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="shareholder">
                            <div class="shareholderInner">
                                <div class="shareInfo">
                                    <i class="fa fa-phone ihs">

                                    </i>
                                    <span class="contactIfo"><a href="{% url 'public:pratinidhi_call_request' form.pk %}">
                                        Call Request
                                    </a>
                                </span>
                            </div>
                            {% if form.email %}
                            <div class="shareInfo">
                                <i class="fa fa-envelope ihs">

                                </i>
                                <span class="contactIfo">
                                    Write Email
                                </span>
                            </div>
                            {% endif %}
                            {% if form.social_networking_medium is not empty %}
                            <div class="shareInfo">
                                <span class="ihs">
                                    <i class="fa fa-facebook mr5 ">

                                    </i>
                                    <i class="fa  fa-twitter ">

                                    </i>
                                </span>

                                <span class="contactIfo">
                                    <a href="https://www.facebook.com/{{form.social_networking_medium}}" target="_blank">Find
                                    on Social Media</a>
                                </span>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>



                <div class="detailTitles ">

                    <p class="personalInfoHeader tt">
                        POLITICAL INFORMATION
                    </p>
                     <div class="infocontainer">
                        <div class="info">
                            <div>
                                {% if form.party_name %}
                                <span class="dtitle">Party Name:</span>
                                <span class="dvalue">{{ form.party_name|title }}</span>
                                {% endif %}
                            </div>
                            <div>
                                {% if form.party_joined_date %}
                                <span class="dtitle">Party Joined:</span>
                                <span class="dvalue">{{ form.party_joined_date|title }}</span>
                                {% endif %}
                            </div>
                        </div>
                     </div>
                </div>

                <div class="detailTitles">
                    <div class="detailTitle">
                       Political commitment
                    </div>
                    <div class="detailtextin">
                        {{ form.nirwachit_chetra_pratiko_pratibadhata }}
                    </div>
                    
                </div>

        </div>
        <div class="personalDetilFooter">
            <div class="permanentAddress flex">
                <div class="placelbl flex aligncenter">
                    <div>
                        <i class="fa fa-map-marker">

                        </i>
                    </div>
                    {% if form.permanent_address %}
                    <div class="locationDetail bold">
                        Permanent Address:
                    </div>
                </div>
                <div class="placeaddress">
                    {{ form.permanent_address }},
                    {% if form.permanent_gapa_napa %}
                    {{ form.permenent_gapa_napa }}
                    {% endif %}
                    {{ form.permanent_ward_no|slice:":2" }}
                </div>
                {% endif %}
                {% if form.address %}
                <div class="locationDetail bold">
                    Permanent Address:
                </div>
            </div>
            <div class="placeaddress">
                {{ form.address }},
            </div>
            {% endif %}
        </div>

        {% if form.temporary_address %}
        <div class="currentAddress flex">
            <div class="locationDetail bold">
                Current Address:
            </div>
            <div class="placeaddress">
                {{ form.temporary_address }}
                {% if form.temporary_gapa_napa %}
                ,{{ form.temporary_gapa_napa }}
                {% endif %}
                {{ form.temporary_ward_no|slice:":2" }}
            </div>
            {% endif %}
        </div>
    </div>

</div>
</div>
</div>


</section>
<section class="userImageHolder">
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-md-9">-->

                <!--<div class="coverHeight"></div>-->


                <!--{% if form.pramukh_jimmewari %}-->
                <!--<div class="infographic">-->

                    <!--<img src="{% static 'public/image/detailimg5.png' %}" alt="">-->
                    <!--{% for jimmewari in pramukh_jimmewari_list %}-->
                    <!--<div class=" abs dettext1">-->
                        <!--{% if jimmewari.year %}-->
                        <!--<span class="hang dates">{{ jimmewari.year }}</span>-->
                        <!--{% endif %}-->
                        <!--<span>{{ jimmewari.pramukh_jimmewari }}</span>-->
                        <!--</div>-->
                        <!--{% endfor %}-->



                        <!--</div>-->


                        <!--<div class="sliderHolderlist inlist">-->
                            <!--<p class="sTitle header ">Responsibilities </p>-->
                            <!--<div class="slikinside">-->
                                <!--{% for jimmewari in pramukh_jimmewari_list %}-->
                                <!--<div>-->
                                    <!--{{ jimmewari.pramukh_jimmewari }}-->
                                    <!--</div>-->
                                    <!--{% endfor %}-->

                                    <!--</div>-->

                                    <!--</div>-->
                                    <!--{% endif %}-->

                                    <!--</div>-->











                                    <!--<div class="col-md-3 flex aligncenter column">-->
                                        <!--{% if form.nirwachit_prakriya %}-->
                                        <!--<div class="workSHolder">-->
                                            <!--<div class="detailTitle">-->
                                                <!--Election Type-->
                                                <!--</div>-->
                                                <!--<div class="detailContent bold">-->
                                                    <!--{{ form.nirwachit_prakriya }}-->
                                                    <!--</div>-->

                                                    <!--</div>-->
                                                    <!--{% endif %}-->
                                                    <!--{% if form.prapta_maat_sankhya %}-->
                                                    <!--<div class="workSHolder">-->
                                                        <!--<div class="detailTitle">-->
                                                            <!--Vote Received-->
                                                            <!--</div>-->
                                                            <!--<div class="detailContent bold">-->
                                                                <!--{{ form.prapta_maat_sankhya }}-->
                                                                <!--</div>-->
                                                                <!--</div>-->
                                                                <!--{% endif %}-->
                                                                <!--{% if form.nirwachit_padh %}-->
                                                                <!--<div class="workSHolder">-->
                                                                    <!--<div class="detailTitle">-->
                                                                        <!--Elected Post-->
                                                                        <!--</div>-->
                                                                        <!--<div class="detailContent bold">-->
                                                                            <!--{{ form.nirwachit_padh }}-->

                                                                            <!--</div>-->
                                                                            <!--</div>-->
                                                                            <!--{% endif %}-->
                                                                            <!--{% if form.nirwachit_chhetrako_bibaran %}-->
                                                                            <!--<div class="workSHolder">-->
                                                                                <!--<div class="detailTitle">-->
                                                                                    <!--Election Constituency-->
                                                                                    <!--</div>-->
                                                                                    <!--<div class="detailContent bold">-->
                                                                                        <!--{{ form.nirwachit_chhetrako_bibaran }}-->
                                                                                        <!--</div>-->

                                                                                        <!--</div>-->
                                                                                        <!--{% endif %}-->
                                                                                        <!--{% if form.party_joined_date %}-->
                                                                                        <!--<div class="workSHolder">-->
                                                                                            <!--<div class="detailTitle">-->
                                                                                                <!--Involvement in Party-->
                                                                                                <!--</div>-->
                                                                                                <!--<div class="detailContent bold">-->
                                                                                                    <!--{{ form.party_joined_date|slice:":4" }} B.S.-->
                                                                                                    <!--</div>-->

                                                                                                    <!--</div>-->
                                                                                                    <!--{% endif %}-->

                                                                                                    <!--</div>-->
                                                                                                    <!--</div>-->
                                                                                                    <!--<div class="row ptbi">-->
                                                                                                        <!--<div class="col-md-3 aligncenter justify-content-center titl">Political-->
                                                                                                            <!--<br />Commitments-->
                                                                                                            <!--</div>-->
                                                                                                            <!--{% if form.nirwachit_chetra_pratiko_pratibadhata %}-->
                                                                                                            <!--{% with form.nirwachit_chetra_pratiko_pratibadhata|split:"," as jimmewaris %}-->
                                                                                                            <!--{% for jimmewari in jimmewaris %}-->
                                                                                                            <!--<div class="col-md-3">-->
                                                                                                                <!--<div class="we relative">-->
                                                                                                                    <!--<div class="overLink"></div>-->
                                                                                                                    <!--<div class="weInner">-->
                                                                                                                        <!--{{ jimmewari }}-->
                                                                                                                        <!--</div>-->
                                                                                                                        <!--</div>-->

                                                                                                                        <!--</div>-->
                                                                                                                        <!--{% endfor %}-->
                                                                                                                        <!--{% endwith %}-->
                                                                                                                        <!--{% endif %}-->
                                                                                                                        <!--</div>-->


                                                                                                                        {% if form.samlagna_sang_sastha_samuha %}
                                                                                                                        <div class="listofWorks text-center">
                                                                                                                            <p class="loft white bold">
                                                                                                                                RECENT UNION, ORGANISATION, GROUP ASSOCIATION
                                                                                                                            </p>
                                                                                                                            <div class="litem ">
                                                                                                                                <span class="square"></span>
                                                                                                                                <span class="text">{{ form.samlagna_sang_sastha_samuha }}</span>
                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                        {% endif %}


                                                                                                                    </div>

                                                                                                                </section>

                                                                                                                <section class="listDet">
                                                                                                                    <div class="container">
                                                                                                                        <p class="lispTitle white">
                                                                                                                            RELATED NEWS
                                                                                                                        </p>
                                                                                                                        <div class="row lists ">
                                                                                                                            {% for news in form.news.all %}
                                                                                                                            <div class="col-xl-3 col-lg-4 col-md-6 reveal" data-sr-id="12" style="visibility: visible; opacity: 1; transition: opacity 0.4s cubic-bezier(0.5, 0, 0, 1) 0.05s;">
                                                                                                                                <a href="{% url 'public:news' news.pk %}">
                                                                                                                                    <div class="pImageholder prelative">
                                                                                                                                        <img src="{% static 'public/image/p1.jpg' %}" class="cropNews" alt="user">
                                                                                                                                        <div class="holderOverlay"></div>
                                                                                                                                        <div class="content">
                                                                                                                                            <div class="tags"> {{ form.name }} in News</div>
                                                                                                                                            <div class="pTitle">{{ news.title }}</div>
                                                                                                                                        </div>
                                                                                                                                    </div>
                                                                                                                                </a>
                                                                                                                            </div>
                                                                                                                            {% endfor %}

                                                                                                                        </div>
                                                                                                                    </div>


                                                                                                                </section>



                                                                                                                {% endblock %}
                                                                                                                {% block scripts %}
                                                                                                                <script>
                                                                                                                    $(document).ready(function () {

                                                                                                                        $(".filterBtn").click(function () {

                                                                                                                            $(".selectHolder.list").addClass("activated")

                                                                                                                        });

                                                                                                                        $(".closeBtn").click(function () {

                                                                                                                            $(".selectHolder.list").removeClass("activated")

                                                                                                                        });



                                                                                                                        $('.slikinside').slick({
                                                                                                                            infinite: true,
                                                                                                                            slidesToShow: 3,
                                                                                                                            slidesToScroll: 3,
                                                                                                                            dots: true,
                                                                                                                            arrows: false,

                                                                                                                            responsive: [

                                                                                                                            {
                                                                                                                                breakpoint: 600,
                                                                                                                                settings: {
                                                                                                                                    slidesToShow: 2,
                                                                                                                                    slidesToScroll: 2
                                                                                                                                }
                                                                                                                            },
                                                                                                                            {
                                                                                                                                breakpoint: 480,
                                                                                                                                settings: {
                                                                                                                                    slidesToShow: 1,
                                                                                                                                    slidesToScroll: 1
                                                                                                                                }
                                                                                                                            }
                                                                                                                            ]
                                                                                                                        });
                                                                                                                    });
                                                                                                                </script>
                                                                                                                {% endblock %}