{% extends 'public/public_base.html' %}
{% load staticfiles %}
{% block upper_content %}
<body>
    <header>
        <div class="navigation innerPage">
            <div class="container-fluid">
{% endblock %}
{% block lower_content %}
            </div>
        </div>
    </header>

    <section class="newsDetail">
        <div class="container">

            <div class="row">
                <div class="col-md-8 rpd">
                    <div class="newsDetailinfo">
                        <h3 class="newsHeader">
                            {{ news.title }}
                        </h3>
                        <span class="pdates">Published On: {{ news.date }}</span>
                        <div class="quote">
                            <p class="iquotes"> {{ news.story_headline }}

                            </p>
                        </div>
                        <div class="detail">
                            <p class="idetail">
                                {{ news.content }}
                            </p>

                        </div>

                    </div>

                </div>
                <div class="col-md-4">
                    <div class="newsimgHolder">
                            {% if news.image %}
                            <img src="{{MEDIA_URL}} {{news.image.url}}" alt="profileImage">
                            <span class="pdates">Photo Credit: {{ news.image_credit }}</span>
                            {% endif %}
                    </div>
                    <div class="listHolder">
                        <div class="recentList">
                            <p class="recentPost boarderd">
                                RECENT POSTS
                            </p>
                            
                            <div class="listItem">
                                <a href="{% url 'public:news' latest_news.pk %}">
                               <p class="lnews"> {{ latest_news.title }}
                                </a>

                            </p>
                            </div>
                            
                            <!--<div class="listItem">-->
                                <!--Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis-->

                            <!--</div>-->
                            <!--<div class="listItem">-->
                                <!--Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis-->

                            <!--</div>-->

                        </div>
                        <div class="recentList">
                            <p class="recentPost boarderd">
                                ARCHIVE </p>
                            <div class="listItem">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis

                            </div>
                            <div class="listItem">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis

                            </div>
                            <div class="listItem">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis

                            </div>

                        </div>
                    </div>

                </div>


            </div>


        </div>



    </section>
{% endblock %}

{% block scripts %}

    <script>
        $(document).ready(function () {

            $(".filterBtn").click(function () {

                $(".selectHolder.list").addClass("activated")

            });

            $(".closeBtn").click(function () {

                $(".selectHolder.list").removeClass("activated")

            });
        });


    </script>
{% endblock %}
