{% extends 'public/public_base.html' %}
{% load staticfiles %}
{% block upper_content %}
<body>
    <header>
        <div class="navigation innerPage">
            <div class="container-fluid">
{% endblock %}
{% block lower_content %}
            </div>
        </div>
    </header>

    <section class="newsDetail">
        <div class="container">

            <div class="row">
                <div class="col-md-8 rpd">
                    <div class="newsDetailinfo">
                        <h3 class="newsHeader">
                            Chandra Kala Rai initiated women empowerment camp in Rukum
                        </h3>
                        <span class="pdates">Published: October 11, 2017 2:50 am</span>
                        <div class="quote">
                            <p class="iquotes"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi odio recusandae quasi quae
                                tenetur voluptates, consequuntur aliquam laborum repellendus cumque ad, esse itaque at asperiores
                                debitis quos ea suscipit perferendis! Quisquam itaque dignissimos provident aspernatur voluptas

                            </p>
                        </div>
                        <div class="detail">
                            <p class="idetail">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, dolore dignissimos! Perspiciatis doloribus velit quae porro
                                optio, repudiandae dolor esse dolorem enim libero placeat molestiae quibusdam ducimus saepe
                                quod consectetur nostrum unde assumenda dolore veritatis quam atque! Similique molestiae,
                                eligendi voluptatibus assumenda, vitae veniam ullam quisquam id voluptatum quidem porro corrupti
                                molestias amet quaerat fugit! Blanditiis deserunt fugit, temporibus nemo, officia perferendis
                                fugiat, voluptates ipsa incidunt illo explicabo perspiciatis sint numquam maiores neque odio?
                                Nesciunt optio nam, autem natus, eveniet esse eaque id numquam nostrum, hic excepturi voluptate
                                vero rem. quod consectetur nostrum unde assumenda dolore veritatis quam atque! Similique
                                molestiae, eligendi voluptatibus assumenda, vitae veniam ullam quisquam id voluptatum quidem
                                porro corrupti molestias amet quaerat fugit! Blanditiis deserunt fugit, temporibus nemo,
                                officia perferendis fugiat, voluptates ipsa incidunt illo explicabo perspiciatis sint numquam
                                maiores neque odio? Nesciunt optio nam, autem natus, eveniet esse eaque id numquam nostrum,
                                hic excepturi voluptate vero rem. Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                Eius labore nostrum nobis perspiciatis fugit pariatur rerum, accusamus aperiam laborum unde,
                                ratione impedit beatae saepe veniam architecto eligendi dignissimos dolorum necessitatibus
                                mollitia cum minima fugiat. Ad adipisci, dignissimos asperiores alias nostrum ipsam reiciendis,
                                culpa molestias qui iure, dicta possimus minus! Sapiente ad tempora repellat vel eligendi
                                architecto magnam, esse sint dolore perferendis porro sit voluptates necessitatibus eveniet
                                placeat vero cum tempore aperiam dicta est! Architecto, aliquam. Et labore mollitia numquam
                                adipisci expedita enim asperiores tenetur iste ipsa repellat voluptatum praesentium error,
                                nesciunt illo tempora eligendi! Porro quos sapiente beatae facilis pariatur. Lorem ipsum
                                dolor sit amet consectetur adipisicing elit. Perspiciatis velit quam deserunt tenetur aspernatur,
                                officiis atque doloremque perferendis ipsum inventore. Voluptatum necessitatibus ut est,
                                eaque ullam inventore, sed reprehenderit consequatur adipisci culpa cumque sequi, asperiores
                                temporibus tempora debitis possimus ea maiores natus quas obcaecati totam. Voluptate, nemo
                                maiores nesciunt perferendis corrupti ipsam architecto recusandae at provident, necessitatibus,
                                assumenda enim animi nam doloremque temporibus veniam dicta eligendi excepturi distinctio
                                quae ea reprehenderit unde! Consequatur unde iure accusantium, ex velit enim dicta vitae
                                dolorum similique ducimus doloremque commodi architecto voluptatem dignissimos quaerat aliquid
                                adipisci sequi omnis nihil! Repellendus explicabo natus facilis nihil. Molestias corrupti
                                cum voluptates voluptatum quae impedit nulla in, quod odio deleniti fugiat, iste tenetur
                                distinctio numquam at, facere id alias natus molestiae esse! Sed sit, asperiores delectus
                                molestias harum qui ut? Ex et delectus harum enim, porro qui. Expedita error in unde quisquam
                                corporis adipisci, dolorum facilis! Harum reprehenderit quam tenetur minima fugit adipisci
                                officia nam, quis sint, omnis aliquam soluta. Eaque autem maxime aperiam libero. Minus, impedit.
                                Reiciendis, asperiores? Doloribus velit iste corrupti. Quae quas corrupti, officiis obcaecati
                                temporibus aperiam debitis eum at quaerat nesciunt vitae. Nam neque dolor tempora nisi quam!
                                Itaque rerum deserunt autem! Rerum nemo saepe animi libero eveniet asperiores eaque beatae
                                cumque quam laboriosam, eius pariatur recusandae eos incidunt minima enim illum, fugit dolore
                                sequi! Alias et consectetur ipsum maxime, vero, repudiandae eaque nulla eveniet asperiores
                                amet sapiente architecto itaque dolore necessitatibus molestias omnis laudantium nesciunt
                                ipsa eum, a consequatur nostrum officiis! Voluptatem illo molestiae adipisci aliquam temporibus
                                ad praesentium aperiam dolor earum nulla. Eos ducimus, eveniet cupiditate impedit natus voluptates,
                                laborum enim doloribus ea possimus, voluptatem exercitationem sint nihil. Illo voluptatum,
                                suscipit, reiciendis ipsam earum aperiam delectus quae enim qui minima doloribus porro possimus
                                quam rerum non corporis atque sunt accusamus impedit placeat!
                            </p>

                        </div>

                    </div>

                </div>
                <div class="col-md-4">
                    <div class="newsimgHolder">
                        <img src="image/newsimg.png" alt="">
                        <span class="pdates">Photo Credit: Dr. Quraishi is the former Chief Election </span>
                    </div>
                    <div class="listHolder">
                        <div class="recentList">
                            <p class="recentPost boarderd">
                                RECENT POSTS
                            </p>
                            <div class="listItem">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis

                            </div>
                            <div class="listItem">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis

                            </div>
                            <div class="listItem">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis

                            </div>

                        </div>
                        <div class="recentList">
                            <p class="recentPost boarderd">
                                ARCHIVE </p>
                            <div class="listItem">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis

                            </div>
                            <div class="listItem">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis

                            </div>
                            <div class="listItem">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis

                            </div>

                        </div>
                    </div>

                </div>


            </div>


        </div>



    </section>
{% endblock %}

{% block scripts %}

    <script>
        $(document).ready(function () {

            $(".filterBtn").click(function () {

                $(".selectHolder.list").addClass("activated")

            });

            $(".closeBtn").click(function () {

                $(".selectHolder.list").removeClass("activated")

            });
        });


    </script>
{% endblock %}
