{% extends 'public/public_base.html' %}
{% load staticfiles %}
{% block upper_content %}
<link rel="stylesheet" href="{% static 'public/css/twitter.css' %}">
<style>
  .tt-menu{  position: absolute;
    top: 100%;
    width: 100%;
    z-index: 100;
    border: 2px solid #6e6060;
    border-radius: 10px;
  }
  typeahead tt-input{
    left: -236px;
  }
</style>

<body>
  <header>
    <div class="navigation innerPage">
      <div class="container-fluid">
        {% endblock %}
        {% block lower_content %}
      </div>
    </div>
  </header>


  <div class="top container-fluid">

    <div class="text-center">

     Our privacy policy
   </div>

 </div>

 <section class="sectionPadding about">
  <div class="container">
   <div class="row">
    <div class="col-md-3">
     <div class="items" data-attr="class1">
       <h5> Privacy Policy</h5>
     </div>
     <div class="items" data-attr="class2">
       <h5>Information Collection and Use
       </h5>
     </div>
     <div class="items" data-attr="class3">
       <h5>Purpose of Information Collection and Use
       </h5>
     </div>

     <div class="items" data-attr="class4">
      <h5> Transfer of Data
      </h5>
    </div>
    <div class="items" data-attr="class5">
      <h5> Safeguarding of Data
      </h5>
    </div>
    <div class="items" data-attr="class6">
      <h5> Disclosure of Data
      </h5>
    </div>
    <div class="items" data-attr="class7">
      <h5> Links to other sites
      </h5>
    </div>
    <div class="items" data-attr="class8">
      <h5>Children's Privacy
      </h5>
    </div>
    <div class="items" data-attr="class9">
      <h5>Changes to Privacy Policy

      </div>
      <div class="items" data-attr="class10">
        <h5>Contact Us

        </h5>
      </div>




    </div>
    <div class="col-md-9 contents">
     <div class="class1">
       <h3> Privacy Policy
       </h3>    <div class="small"> Effective date: 25 March 2019</div>
       <p>
        Youth Innovation Lab ("us", "we", or "our") operates the www.mahilapratinichi.com website (the "Service"). This privacy policy statement will contain the following information: Information collection and use; what data/ information is collected; purpose of information collection and use; transfer of data; safeguarding of data; disclosure of data; links to other sites; children’s privacy; changes to Privacy Policy, and, whom to contact if you have queries or complaints.

      </div>

      <div class="class2">
       <h3>Information Collection and Use

       </h3>
       <p>We collect personal data/information to improve our services and for future development of similar services and products. We are committed to safeguarding personal information. By using the service, you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms and Conditions.
       </p>
       <h4> Types of Data Collected</h4>

       <p><b> 1. Personal data:</b> While using our service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you ("Personal Data"). Personally, identifiable information may include, but is not limited to email address, first name, last name, phone number, address, location, date of birth, and social media.  
       </p>
       <p><b> 2. Cookies and Usage Data:</b> We may also collect information that your browser sends whenever you visit our service or when you access the service through a mobile device ("Usage Data"). This usage data may include information such as your computer's internet protocol address (e.g. IP address), browser type, browser version, the pages of our service that you visit, the time and date of your visit, the time spent on those pages, unique device identifiers and other diagnostic data. When you access the service by or through a mobile device, this usage data may include information such as the type of mobile device you use, your mobile device unique ID, the IP address of your mobile device, your mobile operating system, the type of mobile Internet browser you use, unique device identifiers and other diagnostic data.

       </p>
       <p><b> 3. Tracking & Cookies Data:</b> We use cookies and similar tracking technologies to track the activity on our Service and hold certain information. Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a website and stored on your device. Tracking technologies also used are beacons, tags, and scripts to collect and track information and to improve and analyse our service. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some/many portions of our Service. Examples of Cookies we use:

       </p>
       <ul class="lstn">
         <li> 
          <p> a. <b>  Session Cookies:</b>We use session cookies to operate our service. </p>
        </li>
        <li> <p> b.<b>  Preference Cookies: </b>We use preference cookies to remember your preferences and various settings.
        </p></li>
        <li> <p> c. <b>  Security Cookies:</b> We use security cookies for security purposes.
        </p></li>


      </ul>



    </div>
    <div class="class3">
     <h3>Purpose of Information Collection and Use
     </h3>
     <p>Youth Innovation Lab uses the collected data for various purposes: to provide and maintain the service; to notify you about changes to our service; to provide customer care and support; improve our service; monitor the usage of the service; detect, prevent and address technical issues; maintain and improve security of the service; help develop ancillary products and services; and research and innovate for social good

     </p>
   </div>


   <div class="class4">
     <h3>Transfer of Data

     </h3>
     <p>Your information, including personal data, may be transferred to mahilapratinidhi.com and maintained on the server (cloud) computers located outside of your state, province, country or other governmental jurisdiction where the data protection laws may differ than those from your jurisdiction. If you are located outside Nepal and choose to provide information to us, please note that we transfer the data, including personal data, to Nepal and process it there. Your consent to this Privacy Policy followed by your submission of such information represents your agreement to that transfer.


     </p>
   </div>
      <div class="class5">
     <h3>Safeguarding of Data

     </h3>
     <p>Youth Innovation Lab will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this Privacy Policy and no transfer of your personal data will take place to any organization or a country unless there are adequate controls in place including the security of your data and other personal information. The security of your data is important to us, however, no method of transmission over the internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your personal data, we cannot guarantee its absolute security. 



     </p>
   </div>

    <div class="class6">
       <h3>Disclosure of Data


       </h3>
     
   

       <p> 1.<b> Legal Requirements:</b>Youth Innovation Lab may disclose your personal data in good faith belief when such action is necessary to: comply with a legal obligation; protect and defend the rights or property of Youth Innovation Lab; prevent or investigate possible wrongdoing in connection with the Service; protect the personal safety of users of the Service or the public; and protect against legal liability.
  
       </p>
       <p> 2.<b> Service Providers: </b> We may employ third party companies and individuals to facilitate our service ("Service Providers"), to provide the service on our behalf, or assist us in analysing how our service is used. These third parties have access to your personal data on our behalf and are obligated not to disclose or use it for any other purpose.
       </p>
       <p> 3.<b> Analytics: </b> We may use third-party Service Providers to monitor and analyse the use of our Service. (Google Analytics): Google Analytics is a web analytics service offered by Google that tracks and reports website traffic. Google uses the data collected to track and monitor the use of our Service. This data is shared with other Google services. Google may use the collected data to contextualize and personalize the ads of its own advertising network. For more information on the privacy practices of <a href="https://www.google.com/">  Google</a>, please visit the  <a href="https://policies.google.com/privacy"> Google Privacy & Terms web page</a>.  


       </p>
       <p> 4.<b> Advertisers: </b>We provide advertisers with reports on the type and number of people viewing their advertisements, but we don't share information that personally identifies the user (for e.g. information such as name or email address) unless the user gives permission.

       </p>
       



    </div>

     <div class="class7">
     <h3>Links to other sites

     </h3>
     <p>Our Service may contain links to other sites that are not operated by us. If you click on a third-party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy of every site you visit. We have no control over and assume no responsibility for the content, privacy policies or practices of any third-party sites or services.

     </p>
   </div>
  <div class="class8">
     <h3>Children's Privacy


     </h3>
     <p>Our Service does not address anyone under the age of 13 ("Underage Children"). We do not knowingly collect personally identifiable information from anyone under the age of 13. If you are a parent or guardian and you are aware that your underage children have provided us with personal data, please contact us. Personal data from children without verification of parental consent is subjected to removal from the website.
     </p>
   </div>
     <div class="class9">
     <h3>Changes to Privacy Policy


     </h3>
     <p>We may update our Privacy Policy. We will notify you of any changes by posting the new Privacy Policy on this page. We will let you know via email and/or a prominent notice on our Service, prior to the effective date of change and update the "effective date" at the top of this Privacy Policy. You are advised to review this Privacy Policy periodically for any changes. changes to this Privacy Policy are effective when they are posted on this page.


     </p>
   </div>

    <div class="class10">
     <h3>Contact Us



     </h3>
     <p>If you have any questions about this Privacy Policy, please contact us: <a style="color:blue"> youthinnovationlab@gmail.com</a>  or visit <a href="http://www.youthinnovationlab.org/" target="_blank">www.youthinnovationlab.org. </a>



     </p>
   </div>










 </div>

</div>

</div>
</section>


{% endblock %}
{% block scripts %}

<script type="text/javascript">

  $(document ).ready(function() {
   $(".items").on("click", function () {
    var lss = $(this).attr("data-attr");
    console.log(lss);
    $('html, body').animate({
      scrollTop: $('.' + lss).offset().top
    }, 1000);

  });


 });

</script>
{% endblock %}
