{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PRATINIDHI</title>
    <link rel="stylesheet" href="{% static 'public/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'public/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'public/css/responsive.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'public/css/slick.css' %}" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

    

</head>

<body>

    {% block upper_content %} {% endblock %}
    <nav class="navbar navbar-expand-lg navbar-light navflex ">
        <a class="navbar-brand" href="{% url 'public:index' %}">
            <img src="{% static 'public/image/logo.png' %}" alt="logo">
        </a>
        {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}" class="userIcon">
            {% else %}
            <a href="{% url 'public:signup' %}" class="userIcon">
                {% endif %}
                <span class="menuCircle">
                    <i class="fa fa-user-circle">

                    </i>
                </span>
            </a>
            <a>
                <span class="menuCircle menuIcon">
                    <i class="fa fa-bars">

                    </i>
                </span>
            </a>
            <!-- {% if request.user.is_authenticated %}
        <a href="{% url 'login' %}">
        {% else %}
        <a href="{% url 'public:signup' %}">
        {% endif %}
            <img src="{% static 'public/image/usericon.png' %}" alt="logo">
        </a>
        <a>
            <img src="{% static 'public/image/menuicon.png' %}" alt="logo">
        </a> -->

    </nav>
    </div>
    </div>
    <div class="menu">

        <div class="menuheader">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'public:index' %}">
                    <img src="{% static 'public/image/logo.png' %}" alt="logo">
                </a>
                <i class="fa fa-times"></i>
            </div>
        </div>
        <div class="links">
            <div class="container">
                <div class="linkTabs">
                    <a href="{% url 'public:index' %}" class="linkitems"> Home</a>
                    <a href="{% url 'public:index' %}" class="linkitems"> FIND YOUR LEADER</a>
                    <a href="{% url 'public:data_visualize' %}" class="linkitems">MAHILA PRATINIDHI IN DATA</a>
                    <a href="" class="linkitems"> FEATURED MAP</a>
                    <a href="{% url 'public:index' %}#news" class="linkitems" id="news_link"> NEWS</a>
                    <a href="{% url 'public:index' %}" class="linkitems"> Media</a>

                </div>
            </div>
        </div>


        <div class="container">
            <div id="exTab3" class="menutabs">
                <!-- <ul class="nav nav-pills row">
                <li class=" col-md-3">
                    <a href="{% url 'public:explore' 'national' %}">
                        <div class="limgHolder">
                            <img src="{% static 'public/image/city-hall1.svg' %}" alt="">


                        </div>
                        <div class="text-center tabtext">
                            <span> NATIONAL</span>

                            <span>ASSEMBLY</span>
                        </div>

                    </a>
                </li>
                <li class="active col-md-3">
                    <a href="{% url 'public:explore' 'federal' %}" id="first">
                        <div class="limgHolder">
                            <img src="{% static 'public/image/elementary-school1.svg' %}" alt="">


                        </div>
                        <div class="text-center tabtext">
                            <span> FEDERAL</span>
                            <span>PARLIAMENT</span>
                        </div>

                    </a>
                </li>
                <li class="active col-md-3">
                    <a href="{% url 'public:explore' 'provincial' %}">
                        <div class="limgHolder">
                            <img src="{% static 'public/image/parliament1.svg' %}" alt="">


                        </div>
                        <div class="text-center tabtext">

                            <span> PROVINCIAL</span>
                            <span> ASSEMBLY</span>
                        </div>

                    </a>
                </li>
                <li class="active col-md-3">
                    <a href="{% url 'public:explore' 'local' %}">
                        <div class="limgHolder">
                            <img src="{% static 'public/image/government1.svg' %}" alt="">


                        </div>
                        <div class="text-center tabtext">
                            <span>LOCAL LEVEL</span>
                            <span> GOVERNMENT</span>
                        </div>

                    </a>
                </li>

            </ul> -->
            </div class="">

            {% block lower_content %} {% endblock %}

            <footer class="footer sectionPadding">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 textWhite">
                            <div class="btnaholder">
                                {% if request.user.is_authenticated %}
                                <a href="{% url 'logout' %}">
                                    <button class="signinBtn"> LOG OUT</button>
                                </a>
                                {% else %}
                                <a href="{% url 'login' %}">
                                    <button class="signinBtn"> SIGN IN</button>
                                </a>
                                <a href="{% url 'public:signup' %}">
                                    <button class="signUp"> SIGN UP</button>
                                </a>
                                {% endif %}
                            </div>
                            <div class="onlineLink">Read Harmo Mahila Pratinidhi Ebook Online</div>
                            <button class="btn readOnline">
                                <a target="_blank" href="{% url 'public:read' %}" style="color:white;"> READ ONLINE</button>

                        </div>
                        <div class="col-md-3 col-sm-6 textWhite">
                            <div class="flogoHolder">
                                <a href="{% url 'public:index'%}">
                                    <img src="{% static 'public/image/logo.png' %}" alt="logo">
                                </a>
                            </div>

                            <div class="ftitle">
                                MEET YOUR REPRESENTATIVE
                            </div>
                            <div class="flist">
                                <a href="{% url 'public:explore' 'national' %}" style="color:white;"> National Assembly</a>
                            </div>
                            <div class="flist">
                                <a href="{% url 'public:explore' 'federal' %}" style="color:white;"> Federal Parliament</a>
                            </div>
                            <div class="flist">
                                <a href="{% url 'public:explore' 'provincial' %}" style="color:white;"> Provincial Assembly</a>
                            </div>
                            <div class="flist">
                                <a href="{% url 'public:explore' 'local' %}" style="color:white;"> Local Level</a>
                            </div>
                            <div class="ftitle fbottom">
                                MAP VISUALIZATION
                            </div>

                        </div>


                        <div class="col-md-3 col-sm-6 textWhite">

                            <div class="ftitle mt177">
                                DATA VISUALIZATION</div>
                            <div class="flist">Age</div>
                            <div class="flist">Ethinicity</div>
                            <div class="flist">Mother Tongue</div>
                            <div class="flist"> Education</div>
                            <div class="flist"> Election Type</div>
                            <div class="flist"> Political Party</div>
                            <div class="flist"> Political Engagement</div>
                            <div class="flist"> Political Commitment</div>
                            <div class="ftitle fbottom">
                                PRIVACY POLICY
                            </div>

                        </div>

                        <div class="col-md-3 col-sm-6 textWhite">
                            <div class="ftitle mt177">
                                MAHILA PRATINIDHI ON MEDIA</div>

                        </div>



                    </div>


            </footer>
            <section class="copyright">
                <div class="container">
                    <p>Copyright © 2018 Youth Innovation Lab</p>
                </div>
            </section>
            <script src="{% static 'public/js/jquery.js'%}"></script>
            <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>


            <script src="{% static 'public/js/bootstrap.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'public/js/slick.min.js' %}"></script>
            <script src="{% static 'public/js/all.js' %}"></script>
            <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
            <script src="js/bootstrap.min.js"></script>
            <script>

                $(document).ready(function () {

                    $(".menuIcon").click(function () {

                        $(".menu").addClass("menuOn");
                        $("body").addClass("overflowHidden");

                    });
                    $(".menuheader .fa.fa-times").click(function () {

                        $(".menu").removeClass("menuOn");
                        $("body").removeClass("overflowHidden");
                    });
                    $("#news_link").click(function () {
                        $(".menu").removeClass("menuOn");
                        $("body").removeClass("overflowHidden");
                    });

                });
            </script> 
            {% block scripts %} 
            {% endblock %}


</body>

</html>