{% extends "_base.html" %}

{% block content %}
    <div id="main-container" class="minified">

        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <?php include 'header.php'; ?>

        <div class="row no-gutters">
            <div class="col-md-8">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'core:dashboard' %}">गृह पृष्‍ठ</a></li>


                    </ol>
                </nav>
            </div>
            <div class="col-md-12">

                <div class="dash-right">
                    <div class="row" style="margin-top: 50px;">



                            <form action="" class="well" method="post">{% csrf_token %}
                                    <p>Old password: {{ form.old_password }}</p>
                                    <p>New password: {{ form.new_password1 }}</p>
                                    <p>New password confirmation: {{ form.new_password2 }}</p>
                                <input type="submit" class="btn btn-primary">
                            </form>
                        <div class="col-md-4">
                                    {% include 'form_error.html' %}
</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
