{% extends '_base.html' %}

{% block content %}
    <div id="main-container" class="minified">

        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <?php include 'header.php'; ?>


            <div class="col-md-12">
                <div class="dash-right">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="widget-info margin-top-large">
                                <form class="form-horizontal" action="" enctype="multipart/form-data"
                                      method="post">{% csrf_token %}
                                    <div class="form-group">

                                        {{ form.name.label_tag }} {{ form.name }}<br>
                                        {{ form.english_name.label_tag }} {{ form.english_name }}<br>
                                        {{ form.date_of_birth.label_tag }} {{ form.date_of_birth_ne_NP }}<br>
                                        {{ form.age.label_tag }} {{ form.age_ne_NP }}<br>
                                        {{ form.mothers_name.label_tag }} {{ form.mothers_name_ne_NP }}<br>
                                        {{ form.fathers_name.label_tag }} {{ form.fathers_name_ne_NP }}<br>
                                        {% if object %}
                                            {{ form.marital_status.label_tag }}
                                            <span style="font-family: preeti; font-size: 18px; ">{{ form.marital_status_ne_NP }}</span>
                                            {{ form.updated_marital_status }}<br>
                                        {% else %}
                                            {{ form.updated_marital_status.label_tag }}  {{ form.updated_marital_status_ne_NP }}<br>
                                        {% endif %}

                                        {{ form.husbands_name.label_tag }} {{ form.husbands_name_ne_NP }}<br>
                                        {% if object %}
                                            {{ form.caste.label_tag }}<span style="font-family: preeti; font-size: 18px"> {{ form.caste_ne_NP }}</span>
                                            {{ form.updated_caste_ne_NP }}<br>
                                        {% else %}
                                            {{ form.updated_caste.label_tag }}  {{ form.updated_caste_ne_NP }}<br>
                                        {% endif %}
                                        {% if object %}
                                            {{ form.mother_tongue.label_tag }}
                                            <span style="font-family: preeti; font-size: 18px"> {{ form.mother_tongue_ne_NP }}</span>
                                            {{ form.updated_mother_tongue_ne_NP }}<br>
                                        {% else %}
                                            {{ form.updated_mother_tongue.label_tag }}  {{ form.updated_mother_tongue_ne_NP }}<br>
                                        {% endif %}
                                        {% if object %}
                                            {{ form.educational_qualification.label_tag }}
                                            <span style="font-family: preeti; font-size: 18px">{{ form.educational_qualification_ne_NP }}</span>
                                            {{ form.updated_educational_qualification }}<br>
                                        {% else %}
                                            {{ form.updated_educational_qualification.label_tag }} {{ form.updated_educational_qualification_ne_NP }}<br>
                                        {% endif %}
                                        {{ form.subject.label_tag }} {{ form.subject_ne_NP }}<br>

                                        {{ form.permanent_address.label_tag }} {{ form.permanent_address_ne_NP }}<br>
                                        {{ form.permanent_gapa_napa.label_tag }} {{ form.permanent_gapa_napa_ne_NP }}<br>
                                        {{ form.permanent_ward_no.label_tag }} {{ form.permanent_ward_no_ne_NP }}<br>
                                        {{ form.permanent_tole.label_tag }} {{ form.permanent_tole_ne_NP }}<br>
                                        {{ form.temporary_address.label_tag }} {{ form.temporary_address_ne_NP }}<br>
                                        {{ form.temporary_gapa_napa.label_tag }} {{ form.temporary_gapa_napa_ne_NP }}<br>
                                        {{ form.temporary_ward_no.label_tag }} {{ form.temporary_ward_no_ne_NP }}<br>
                                        {{ form.temporary_tole.label_tag }} {{ form.temporary_tole_ne_NP }}<br>
                                        {{ form.mobile.label_tag }} {{ form.mobile_ne_NP }}<br>
                                        {{ form.contact_number.label_tag }} {{ form.contact_number_ne_NP }}<br>
                                        {{ form.email.label_tag }} {{ form.email_ne_NP }}<br>
                                        {{ form.social_networking_medium.label_tag }} {{ form.social_networking_medium_ne_NP }}<br>
                                        {% if object %}
                                            {{ form.nirwachit_prakriya.label_tag }}
                                            <span style="font-family: preeti; font-size: 18px">{{ form.nirwachit_prakriya_ne_NP }}</span>
                                            {{ form.updated_nirwachit_prakriya }}<br>
                                        {% else %}
                                            {{ form.updated_nirwachit_prakriya.label_tag }} {{ form.updated_nirwachit_prakriya_ne_NP }}<br>
                                        {% endif %}
                                        {% if object %}
                                            {{ form.nirwachit_padh.label_tag }}
                                            <span style="font-family: preeti; font-size: 18px">{{ form.nirwachit_padh_ne_NP }}</span>
                                            {{ form.updated_nirwachit_padh_ne_NP }}<br>
                                        {% else %}
                                            {{ form.updated_nirwachit_padh.label_tag }} {{ form.updated_nirwachit_padh_ne_NP }}<br>
                                        {% endif %}
                                        {% if object %}
                                            {{ form.pichidiyeko_chhetra_ho_hoina.label_tag }}
                                            <span style="font-family: preeti; font-size: 18px">{{ form.pichidiyeko_chhetra_ho_hoina_ne_NP }}</span>
                                            {{ form.updated_pichidiyeko_chhetra_ho_hoina_ne_NP }}<br>
                                        {% else %}
                                            {{ form.updated_pichidiyeko_chhetra_ho_hoina.label_tag }} {{ form.updated_pichidiyeko_chhetra_ho_hoina_ne_NP }}
                                            <br>
                                        {% endif %}
                                        {{ form.nirwachit_chhetrako_bibaran.label_tag }} {{ form.nirwachit_chhetrako_bibaran_ne_NP }}<br>
                                        {% if object %}
                                            {{ form.nirwachit_vayeko_chhetra_aafno_thegana.label_tag }}
                                            <span style="font-family: preeti; font-size: 18px">{{ form.nirwachit_vayeko_chhetra_aafno_thegana_ne_NP }}</span>
                                            {{ form.updated_nirwachit_vayeko_chhetra_aafno_thegana }}<br>
                                        {% else %}
                                            {{ form.updated_nirwachit_vayeko_chhetra_aafno_thegana.label_tag }}
                                            {{ form.updated_nirwachit_vayeko_chhetra_aafno_thegana_ne_NP }}<br>
                                        {% endif %}
                                        {{ form.party_name.label_tag }} {{ form.party_name_ne_NP }}<br>
                                        {{ form.party_joined_date.label_tag }} {{ form.party_joined_date_ne_NP }}<br>
                                        {{ form.pramukh_jimmewari.label_tag }} {{ form.pramukh_jimmewari_ne_NP }}<br>
                                        {{ form.nirwachit_chetra_pratiko_pratibadhata.label_tag }} {{ form.nirwachit_chetra_pratiko_pratibadhata_ne_NP }}<br>
                                        {% if object %}
                                            {{ form.aaja_vanda_agadi_chunab_ladnu_vayeko_chha.label_tag }}
                                            <span style="font-family: preeti; font-size: 18px">{{ form.aaja_vanda_agadi_chunab_ladnu_vayeko_chha_ne_NP }}</span>
                                            {{ form.updated_aaja_vanda_agadi_chunab_ladnu_vayeko_chha_ne_NP }}<br>
                                        {% else %}
                                            {{ form.updated_aaja_vanda_agadi_chunab_ladnu_vayeko_chha.label_tag }}
                                            {{ form.updated_aaja_vanda_agadi_chunab_ladnu_vayeko_chha }}<br>
                                        {% endif %}
                                        {{ form.prapta_maat_sankhya.label_tag }} {{ form.prapta_maat_sankhya }}<br>
                                        {{ form.samlagna_sang_sastha_samuha.label_tag }} {{ form.samlagna_sang_sastha_samuha }}<br>
                                        {{ form.status.label_tag }} {{ form.status }}<br>
                                        {{ form.image.label_tag }} {{ form.image }}<br>
                                        {{ form.samitima_vumika.label_tag }} {{ form.samitima_vumika }}<br>
                                        {{ form.samlagna_samsadiya_samiti.label_tag }} {{ form.samlagna_samsadiya_samiti }}<br>

                                    </div>
                                    <input type="submit">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
