{% extends '_base.html' %}

{% block content %}
    <div id="main-container" class="minified">

        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <?php include 'header.php'; ?>
        <div class="row no-gutters">
            <div class="col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'core:dashboard' %}">गृह पृष्‍ठ</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ province }}</li>

                    </ol>
                </nav>
            </div>
            <div class="col-md-12">
                <div class="dash-right">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="widget-info margin-top-large">
                                <div class="widget-head">
                                    <h3><a href="#" title="">महिला प्रतिनिधि फारमहरू</a></h3>
                                </div>
                                <div class="widget-body">
                                    <div class="data-filter-wrap">
                                        <form action="" method="get">
                                            <div class="row">

                                                <div class="form-group col-md-4">
                                                    <label for="inputStatus"><strong>
                                                        छान्नुहोस्</strong></label>

                                                    <select class="form-control" name="status" id="id_status">
                                                            <option value="True">
                                                                पूर्ण
                                                            </option>
                                                            <option value="False">अपूर्ण</option>

                                                    </select>


                                                </div>
                                                <div class="col-md-4">
                                                    <button type="submit" class="btn btn-default margin-top-large"><i
                                                            class="la la-filter"></i> फिल्टर
                                                    </button>
                                                </div>
                                                <div class="col-4" style="margin-top: 30px">
                                                    <a href="{% url 'core:province_mahila_pratinidhi_form' province_id %}"
                                                       title=""
                                                       class="btn btn-sm btn-xs btn-primary"><i class="la la-plus"></i>
                                                        प्रदेश प्रतिनिधि थप्नुहोस</a>

                                                </div>

                                            </div>
                                        </form>


                                    </div>

                                    <ul class="row">
                                        {% for form in forms %}

                                            <li class="col-sm-6 col-md-4 col-lg-3">
                                                <a href="{% url 'core:province_mahila_pratinidhi_detail' form.pk %}"
                                                   class="org-item-wrap">
                                                    <h5 style="font-family: Preeti; font-size: 20px; font-weight: normal">{{ form.name }}</h5><br>
                                                    <span style="font-family: Preeti; font-size: 16px; font-weight: normal">{{ form.temporary_tole_ne_NP }}</span><br>

                                                    {% if form.status is False %}
                                                        <span style="font-family: Preeti; font-size: 13px; color: red"> {{ form.get_status_display }}</span>
                                                    {% else %}
                                                        <span style="font-family: Preeti; font-size: 13px; color: green"> {{ form.get_status_display }}</span>

                                                    {% endif %}

                                                </a>
                                            </li>

                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}