{% extends '_base.html' %}
{% load staticfiles %}
{% block content %}
    <div id="main-container" class="minified">

        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <?php include 'header.php'; ?>

        <div class="row no-gutters">
            <div class="col-md-8">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'core:dashboard' %}">गृह पृष्‍ठ</a></li>

                        <li class="breadcrumb-item active" aria-current="page"><span
                                style="font-family: Preeti; font-size: 14px;">{{ form.name }}</span></li>
                    </ol>
                </nav>
            </div>
            <div class="col-md-12">
                <div class="dash-right">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="container-fluid">

                                <div class="widget-info margin-top-large">
                                    {% if object.image %}
                                        <div class="login-header">

                                            <img src="{{ MEDIA_URL }} {{ object.image.url }}" alt="" width="100"></div>

                                    {% else %}
                                        <div class="login-header">

                                            <img src="{% static 'assets/img/logo.png' %}" alt="" width="90">
                                        </div>

                                    {% endif %}
                                <p>

                                    नाम: <span style="font-family: Preeti; font-size: 17px">{{ object.name }}</span><br>
                                    English Name: {{ object.english_name }}<br>
                                    जन्ममिती: <span style="font-size: 17px">{{ object.date_of_birth }}</span><br>
                                    उमेर: <span style="font-family: Preeti; font-size: 17px">{{ object.age }}</span><br>
                                    आमाको नाम: <span style="font-family: Preeti; font-size: 17px">{{ object.mothers_name }}</span><br>
                                    बाबुको नाम: <span style="font-family: Preeti; font-size: 17px">{{ object.fathers_name }}</span><br>
                                    बैवाहिक स्थिति:
                                    {% if object.updated_marital_status %}

                                        <span
                                            style="font-family: Preeti; font-size: 17px">{{ object.updated_marital_status }}</span><br>
                                        {% else %}
                                            <span
                                            style="font-family: Preeti; font-size: 17px">{{ object.marital_status }}</span><br>
                                    {% endif %}
                                    श्रीमानको नाम:
                                    {% if object.husbands_name %}

                                        <span
                                            style="font-family: Preeti; font-size: 17px">{{ object.husbands_name }}</span><br>
                                        {% else %}
                                            <span
                                            style="font-size: 17px">{{ object.husbands_name }}</span><br>
                                    {% endif %}
                                    जातियता:
                                    {% if object.updated_caste %}

                                        <span
                                            style="font-family: Preeti; font-size: 17px">{{ object.updated_caste }}</span><br>
                                        {%  else %}

                                        <span
                                            style="font-family: Preeti; font-size: 17px">{{ object.caste }}</span><br>
                                    {% endif %}
                                    मातृभाषा:
                                    {% if object.updated_mother_tongue %}

                                        <span
                                            style="font-family: Preeti; font-size: 17px">{{ object.updated_mother_tongue }}</span><br>
                                        {% else %}
                                            <span
                                            style="font-family: Preeti; font-size: 17px">{{ object.mother_tongue }}</span><br>
                                    {% endif %}
                                    औपचारिक शैक्षिक योग्यता:
                                    {% if object.updated_educational_qualification %}

                                        <span
                                            style="font-family: Preeti; font-size: 17px">{{ object.updated_educational_qualification }}</span><br>
                                        {% else %}
                                         <span
                                            style="font-family: Preeti; font-size: 17px">{{ object.educational_qualification }}</span><br>
                                    {% endif %}
                                    बिषय: <span
                                        style="font-family: Preeti; font-size: 17px">{{ object.subject }}</span><br>
                                    ठेगाना(स्थायी): जिल्ला: <span
                                        style="font-family: Preeti; font-size: 17px">{{ object.permanent_address }}</span><br>
                                    गाउँपालिका/नगरपालिका/उप-महानगरपालिका/महानगरपालिका: <span
                                        style="font-family: Preeti; font-size: 17px">{{ object.permanent_gapa_napa }}</span><br>
                                    वडा नं: {{ object.permanent_ward_no }}<br>
                                    टोल: <span
                                        style="font-family: Preeti; font-size: 17px">{{ object.permanent_tole }}</span><br>
                                    ठेगाना(अस्थायी): जिल्ला: <span
                                        style="font-family: Preeti; font-size: 17px">{{ object.temporary_address }}</span><br>
                                    गाउँपालिका/नगरपालिका/उप-महानगरपालिका/महानगरपालिका: <span
                                        style="font-family: Preeti; font-size: 17px">{{ object.temporary_gapa_napa }}</span><br>
                                    वडा नं: {{ object.temporary_ward_no }}<br>
                                    टोल: <span
                                        style="font-family: Preeti; font-size: 17px">{{ object.temporary_tole }}</span><br>
                                    मोवाइल: <span>{{ object.mobile }}</span><br>
                                    सम्पर्क न.: <span>{{ object.contact_number }}</span><br>
                                    इ-मेल: {{ object.email }}<br>
                                    सामाजिक सन्जालका माध्यम(छ भने):: <span>{{ object.social_networking_medium }}</span><br>
                                    निर्वाचित प्रक्रिया:
                                    {% if object.updated_nirwachit_prakriya %}

                                        <span
                                            style="font-family: Preeti; font-size: 17px">{{ object.updated_nirwachit_prakriya }}</span><br>
                                        {% else %}
                                            <span
                                            style="font-family: Preeti; font-size: 17px">{{ object.nirwachit_prakriya }}</span><br>
                                    {% endif %}
                                    निर्वाचित पद:
                                    {% if object.updated_nirwachit_padh %}

                                        <span
                                            style="font-family: Preeti; font-size: 17px">{{ object.updated_nirwachit_padh }}</span><br>
                                        {% else %}
                                            <span
                                            style="font-family: Preeti; font-size: 17px">{{ object.nirwachit_padh }}</span><br>
                                    {% endif %}
                                    पिछडिएको क्षेत्र हो कि होइन:
                                    {% if object.updated_pichidiyeko_chhetra_ho_hoina %}

                                        <span
                                            style="font-family: Preeti; font-size: 17px">{{ object.updated_pichidiyeko_chhetra_ho_hoina }}</span><br>
                                        {% else %}
                                            <span
                                            style="font-family: Preeti; font-size: 17px">{{ object.pichidiyeko_chhetra_ho_hoina }}</span><br>
                                    {% endif %}
                                    निर्वाचित क्षेत्रको विवरण: <span
                                        style="font-family: Preeti; font-size: 17px">{{ object.nirwachit_chhetrako_bibaran }}</span><br>
                                    निर्वाचित भएको क्षेत्र आफ्नो अस्थायी/ स्थायी ठेगाना भन्दा फरक:
                                    {% if object.updated_nirwachit_vayeko_chhetra_aafno_thegana %}

                                        <span
                                            style="font-family: Preeti; font-size: 17px">{{ object.updated_nirwachit_vayeko_chhetra_aafno_thegana }}</span><br>
                                        {% else %}
                                            <span
                                            style="font-family: Preeti; font-size: 17px">{{ object.nirwachit_vayeko_chhetra_aafno_thegana }}</span><br>
                                    {% endif %}
                                    पार्टीको नाम: <span
                                        style="font-family: Preeti; font-size: 17px">{{ object.party_name }}</span><br>
                                    पार्टीमा संलग्न भएको मिति: <span>{{ object.party_joined_date }}</span><br>
                                    प्रमुख जिम्मेवारी: <span
                                        style="font-family: Preeti; font-size: 17px">{{ object.pramukh_jimmewari }}</span><br>
                                    निर्वाचित क्षेत्र प्रतिको प्रतिबध्धता: <span
                                        style="font-family: Preeti; font-size: 17px">{{ object.nirwachit_chetra_pratiko_pratibadhata }}</span><br>
                                    आज भन्दा अघि चुनाब लड्नुभएको छ?:
                                    {% if object.updated_aaja_vanda_agadi_chunab_ladnu_vayeko_chha %}

                                        <span
                                            style="font-family: Preeti; font-size: 17px">{{ object.updated_aaja_vanda_agadi_chunab_ladnu_vayeko_chha }}</span><br>
                                        {% else %}
                                            <span
                                            style="font-family: Preeti; font-size: 17px">{{ object.aaja_vanda_agadi_chunab_ladnu_vayeko_chha }}</span><br>
                                    {% endif %}
                                    प्राप्त मत संख्या: <span
                                        style="font-family: Preeti; font-size: 17px">{{ object.prapta_maat_sankhya }}</span><br>
                                    सलग्न संघ, सस्था , समूह: <span
                                        style="font-family: Preeti; font-size: 17px">{{ object.samlagna_sang_sastha_samuha }}</span><br>
                                    समितिमा पद: <span style="font-family: Preeti; font-size: 17px">{{ object.samitima_vumika }}</span><br>
                                    संलग्न समिति: <span style="font-family: Preeti; font-size: 17px">{{ object.samlagna_samsadiya_samiti }}</span><br>
                                    </p>

                                </div>
                                <a href="{% url 'core:rastriya_shava_update' object.pk %}" title=""
                                   class="btn btn-sm btn-xs btn-primary"><i class="la la-edit"></i>Edit &nbsp</a>
                                <a href="{% url 'core:rastriya_shava_delete' object.pk %}" title=""
                                   class="btn btn-sm btn-xs btn-primary"><i class="la la-edit"></i>Delete &nbsp</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock content %}