{% extends '_base.html' %}

{% block content %}
    <div id="main-container" class="minified">

        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <?php include 'header.php'; ?>

        <div class="row no-gutters">
            <div class="col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'core:dashboard' %}">गृह पृष्‍ठ</a></li>
                    </ol>
                </nav>
            </div>
            <div class="col-md-12">
                <div class="dash-right">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="widget-info margin-top-large">
                                <h5>Username: {{ user }}</h5>
                                {% if user.first_name %}
                                    <h5>First Name: {{ user.first_name }}</h5>
                                {% endif %}
                                {% if user.last_name %}
                                    <h5>First Name: {{ user.last_name }}</h5>
                                {% endif %}
                                {% if user.email %}
                                    <h5>Email: {{ user.email }}</h5>
                                {% endif %}

                                <a href="{% url 'core:user_profile_update' user.pk %}"
                                   title=""
                                   class="btn btn-sm btn-xs btn-primary">
                                    Update
                                </a>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}