@media screen and (max-width:1500px){
    .container{max-width:1140px;}
    .pTitle{font-size: 18px;}
    .aroup{top:195px;}
    .pItem{width:25%;min-width: 25%;}


.nav-pills li a.active {
    transform: scale(1);
    transform-origin: center bottom;
    min-height: 360px;
}
.nav-pills li a {width: 90%;}
.topbg>.container{max-width: 100%;padding:0 15px;}
.imgeye{width:100%;}
.imgeye{max-width: 230px;}

}
@media screen and (max-width:1366px){
    .imgeye{max-width: 150px;}
    .dtitle{font-size: 40px;}
    .counts:not(:last-of-type) {
        padding-right: 25px;
    }
    .graphItem img{width:100%;}
    .dcount {
        font-size: 24px;
    }
    .dtitle {
        margin-bottom: 20px;
    }
   .graph{width:100%;}
   .tabHolder{align-items: flex-start;}
   .dtitle1{min-width: 100%;}
   .innerp{padding-left: 0;}
   .tabHolder.centered {
    padding: 30px 0;
}
}
@media screen and (max-width:1230px){
    .readOnline{font-size: 18px;}
    .imgeye{display:none;}
   .counts{flex-direction: column;
    align-items: flex-start;} 
    .hdn{display:none;}
}
@media screen and (max-width:992px){
    .topbg{padding:30px 0;}
    .tabHolder li{padding:15px;}
    .tabs {
        width: 300px;
    }.tabHolder li img{width:40px;}
    .slick-slide .flexHolder{flex-direction: column;}
    .slick-slide .buttons{display: flex;align-items: center;justify-content: center;}
    .centeredvh button.btn{margin-top:0;}
    .slick-dots{left: 0;}
    .socialIcons i:not(:last-of-type){margin-right:20px;}
    .socialIcons{flex-direction:row;}

    .lists >div {margin-bottom:15px;}
    .ftitle.mt177{margin-top:94px;}
.btnaholder {
    margin-bottom: 60px;
}
.flogoHolder{margin-bottom:50px;}
    .panelSearch{padding: 15px;}
    h1{   font-size:  40px;
     }
    p.heroPara {
        font-size: 21px;
        margin-bottom: 25px;
    }
    .searchHeader{font-size: 24px;text-align: center}
    .sectionPadding{padding:50px 0;}
    p.header.mb80{font-size: 24px;margin-bottom:20px;}.tabHolder .text {
        padding-left: 15px;
        font-size: 18px;
    }
  
}
@media screen and (max-width:768px){
    .selectHolder.list{
        top: 70px;
        z-index: 10;
        position: absolute;
        background: #081142;
        width: 100%;
        left: 0;
        padding: 20px;
        transform: translateX(-100%);
        transition: all 0.3s linear;
    }
    .selectHolder.list.activated{
      
        transform: translateX(0);
    }
    .filterBtn{display:block;}
    .dateinner {
        padding: 0 30px;
    }
    .info{padding:0 28px;}
    .imgwrpinner{display:none;}
    .imgwrpinner img{width: 100%;height:auto;}
    .aroup {
      display:none;
    }
    .pItem{width:50%;min-width: 50%;}
   .mapTab .btn.mtb50{margin-top:0;margin-bottom:30px}
    .sectionPadding{padding: 25px 0;}
    .ftitle.mt177 {
        margin-top: 0;
    }
    .fbottom{margin-bottom: 15px;}
    .slick-dots{display: none!important;}
    .mapTab{flex-direction: column;}
    .tabs{width:100%;}
    .info.slidefont{padding-left: 0;padding-top:15px;}
    .centeredvh{justify-content: flex-start;}
    .buttons{max-width: 230px;width:100%;}
    .fullBtn.centeredvh button.btn{margin-bottom:0}
    .btn.mtb50{margin-top:15px;margin-bottom:0;}
    .mapHolder{min-height: 400px;}
    .nav-pills li a{min-height: initial;width:initial;}
    .nav-pills li{width:118px}
    .nav-pills li {
        width: 118px;
        left: -30px;
    }
    .nav.nav-pills.row{justify-content: space-around;}
    .nav-pills li a.active {
        min-height: initial;
    }
    linkItem div {
        min-width: 45%;
        max-width: 20%;
    }
    .tabtext {
     
        margin-top: 20px;
     
        margin-bottom: 10px;
    }
    .nav-pills li a{
        min-height: initial;
        padding: 10px;
    }
    .limgHolder img {
        width: 40px;
    }
    .limgHolder{height: 80px;width:80px;}
    .nav-pills li {
        height: 190px;}
        .tab-content{margin-top:15px;}
        .item1{height: 110px;}
        .searchText.ste{margin-top:25px;margin-bottom:30px;margin-left: 0;margin-right: 0;width:100%;max-width: initial;}
       .clickabletabs{margin-left:0;margin-right:0;}
       .clickabletabs.nav-pills li{height: initial;}
       .darkbgl{padding:25px 0;}
       .clickabletabs{padding-bottom:0;}
       .closeBtn{display:block;}
       .dcontent{column-count: 2;}
       .dtitle1,.gheader{font-size: 28px;}
       .graphHolder{margin-top:30px;}
       .countsHolder .counts{width:50%;}
       .gtext {
        width: 100%;
        color: rgba(255,255,255,0.67);
        margin-bottom: 15px;
        font-weight: lighter;
    }
    }
@media screen and (max-width: 576px) { 
    .pItem{width:100%;min-width: 50%;}
    .btn.revbtn.mtb50{margin-bottom:15px;}
    .flogoHolder {margin-top:30px;margin-bottom:30px;margin-left: 0;}
    .tabtext {
        margin-top: 10px;
        margin-bottom: 0px;
        font-size: 10px;
    }
    .limgHolder img {
        width: 20px;
    }
    .limgHolder {
        height: 40px;
        width: 40px;
    }.nav-pills li {
        width: initial;
        left: -50px;
    }
    .item1 {
        height: 75px;
    }
    .item1 p{font-size: 12px;}
    .leader{width:100%;}
    .selectHolder   .searchP{width:100%;}
    .nav-pills li {
        height: 120px;
    }
    nav img{max-width: 60px}
    nav a:first-of-type img{max-width: 32px;}
    .darkBg{padding-top:25px;}
    .selectHolder.list .province ,.selectHolder.list input{width:100%;margin-right: 0;}
    .selectHolder.list  .searchP{padding-right:0;}
    .countsHolder{flex-wrap: wrap;}
    .countsHolder .counts {
        min-width: 50%;
        margin-bottom: 15px;
    }
    .dtitle {
        font-size: 30px;
    }
    .dcontent{column-count: 1;}

}
